/* CSS Document */
@charset "utf-8";

/* Initialize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#FFFFFF;
  -webkit-text-size-adjust: 100%; /*バグ修正用*/
}

/* Font */

h1 {
  font-size: 75px;
  line-height: 36px;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-size: 74px;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-size: 75px;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 45px;
  line-height: 18px;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 400;
  font-style: normal;
}

small {

}
