/* CSS Document */
@charset "utf-8";

/* Header */

header {

}

/* NOTE: toppage */
.top-main {
  width: 100vw;
  height: 100vh;
  background-image: url(../image/top-tk.png);
  background-size: cover;
}


.top-header {
  position: fixed;
  right: 10px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 3px;
}

.top-header span {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 18px;
  height: 1px;
  background-color: black;
  transition: .5s;

}

.top-header span:nth-child(1) {
  top: 10px;
  left: 6px;
}
.top-header span:nth-child(2) {
  top: 19px;
  left: 6px;
}


/* NOTE: countdown */
.countdown {
  position: absolute;
  top: 180px;
  right: 12px;
  color: white;
}

.countdown span {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0.5px;
  height: 210px; /* TODO: ここの長さは要素に合わせたい */
  background-color: white;
}

.countdown-clock {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 12px;
  text-decoration: none;
}

.countdown-clock li {
  display: inline-block;
  width: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.countdown-clock li:nth-last-child(1) {
  margin-bottom: 0;
}

.countdown-clock li h2 {
  display: inline-block;
  margin-bottom: 6px;
}

.countdown-clock li p {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
}


/* NOTE: title */
.top-title {
  display: inline-block;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}

.top-sub {
  text-align: center;
  position: absolute;
  bottom: 16px;
  color: white;
  width: 100%;
}
.top-sub h3 {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
}
.top-scroll {
  display: inline-block;
}
.top-scroll img {
  height: 64px;
  margin-bottom: 8px;
}
.top-scroll p {
  font-size: 10px;
  line-height: 14px;
}


/* NOTE:  Theme-Introduction*/
.top-themeintro {
  width: 100vw;
  background-image: url(../image/sample.png);
  background-size: cover;
}

.top-themeintro h1 {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: 48px;
  margin-bottom: 72px;
  line-height: 60px;
}

.top-themeintro h2 {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-bottom: 108px;
  line-height: 60px;
}


/* NOTE: suggest */
.top-suggest {
  width: 100%;
  padding: 30px 20px 0 20px;
  background-image: url(../image/sample.png);
  background-size: cover;

}

.top-suggest .top-suggest-item:nth-child(1) {
  background-color: navy;
}

.top-suggest .top-suggest-item:nth-child(2) {
  background-color: green;
}

.top-suggest .top-suggest-item:nth-child(3) {
  background-color: purple;
}

.top-suggest-item {
  display: inline-block;
  width: 100%;
  color: white;
  margin-bottom: 30px;
  border-radius: 20px;
}

.top-suggest-item h2 {
  display: inline-block;
  width: 100%;
  padding: 20px;
  text-align: center;
  line-height: 60px;
}

.top-suggest-item-icon {
  width: 100%;
  height: 320px;
  background-image: url(../image/sample.png);
  background-size: cover;
  border-radius: 0 0 20px 20px; /* WARNING: 丸みの大きさについては修正可能性あり */
}
